<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Rubro</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    {% extends "appv/index.html" %}
    {% load static %}
    {% block contenidoQueCambia %}
    
    <section class="page-section" id="contact">
        <div class="container">
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Registrar Artículo</h2>
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
            </div>

            <!-- Formulario  -->
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xl-7">
                    <form action="" method="POST">
                        {% csrf_token %}
                        
                        <!-- Codigo -->
                        <div class="form-floating mb-3">
                            {{ miFormulario.codigo }} 
                            <label for="codigo">Código del artículo</label>
                        </div>

                        <!-- Descripcion -->
                        <div class="form-floating mb-3">
                            {{ miFormulario.descripcion }}  
                            <label for="descripcion">Descripción del artículo</label>
                        </div>

                        <!-- Precio del Articulo -->
                        <div class="form-floating mb-3">
                            {{ miFormulario.precio }} 
                            <label for="precio">Precio del Artículo</label>
                        </div>

                        <!-- Boton de enviar -->
                        <input class="btn btn-primary btn-xl" type="submit" value="Enviar">
                    </form>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}

    <!-- Scripts para la validación de formularios -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>

</body>
</html>